@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {

  /* Base styles */

  html {
    font-size:14px;
   }
  @media (min-width:420px) {
  html {
    font-size:16px;
  }
  }

  h1 {
    @apply text-2xl;
    @apply md:text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  body {
    background-color: #c8d6fb;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  }

  form {
    @apply flex flex-col items-start;
  }

  .main-container {
    @apply px-4 pt-6; 
    @apply lg:px-20;
  }

  .title-container {
    @apply flex flex-row mb-6 items-center justify-center mx-auto;
  }
  
  .card {
    @apply flex flex-col py-6 border-2 border-gray-500 rounded-sm px-4 w-2/3;
    @apply md:w-1/3;
    @apply lg:w-1/3 lg:mr-10;
  }

  .btn {
    @apply px-4 text-white text-xl leading-10 rounded-lg font-semibold border-solid border-2 focus:outline-none focus:ring-4 focus:ring-opacity-75;
    @apply lg:text-2xl lg:leading-relaxed;
  }

  .btn-red {
    @apply btn bg-red-600 border-red-900;
    @apply hover:bg-yellow-400 hover:text-black hover:border-yellow-600;
    @apply focus:ring-white ring-opacity-50;
  }

  .col-md-row {
    @apply flex flex-col md:flex-row;
  }

}