@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {

  /* Base styles */

  html {
    font-size:14px;
   }
  @media (min-width:420px) {
  html {
    font-size:16px;
  }
  }

  h1 {
    @apply text-2xl;
    @apply md:text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  body {
    background-color: #d1e1e3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.18'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    @apply h-screen;
  }

  form {
    @apply flex flex-col items-start;
  }

  .main-container {
    @apply px-4 pt-6; 
    @apply lg:px-20;
  }

  .full-screen {
    @apply min-h-screen min-w-full;
  }

  .title-container {
    @apply flex flex-row mb-6 items-center justify-center mx-auto;
  }
  
  .card {
    @apply flex flex-col py-6 border-2 border-gray-500 rounded-sm px-4 w-2/3;
    @apply md:w-1/3;
    @apply lg:w-1/3 lg:mr-10;
  }

  .btn {
    @apply px-4 text-white text-xl leading-10 rounded-lg font-semibold border-solid border-2 focus:outline-none focus:ring-4 focus:ring-opacity-75;
    @apply lg:text-2xl lg:leading-relaxed;
  }

  .btn-red {
    @apply btn bg-red-600 border-red-900;
    @apply hover:bg-yellow-400 hover:text-black hover:border-yellow-600;
    @apply focus:ring-white ring-opacity-50;
  }

  .btn-yellow {
    @apply btn bg-yellow-400 border-yellow-600;
    @apply hover:bg-yellow-600 hover:text-black hover:border-yellow-600;
    @apply focus:ring-white ring-opacity-50;
  }

  .btn-green {
    @apply btn bg-green-600 border-green-900;
    @apply hover:bg-green-400 hover:text-black hover:border-green-600;
    @apply focus:ring-white ring-opacity-50;
  }

  .btn-disabled {
    @apply disabled:bg-gray-300 disabled:text-black disabled:cursor-not-allowed disabled:opacity-50 disabled:border-black;
  }

  .col-md-row {
    @apply flex flex-col md:flex-row;
  }

  #drop-area {
    @apply flex flex-col h-2/3 w-2/3 items-center justify-center m-0;
    @apply transition-all ease-in duration-150;
  }

}
