<!doctype html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/processed_styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creador de portadas</title>
</head>

<body>
  <div id="box" class="flex flex-col items-center justify-center space-y-6 h-screen my-8">
    <img id="preview" class="max-w-3xl hidden">
    <div id="drop-area" class="outline-black bg-opacity-10 -z-10">
      <form id='uploadForm' action="{{ url_for('loadImage') }}" method="POST" class="form">
      <input id="image" type="file">
      </form>
    </div>
    <div class="flex flex-row justify-center items-center  space-x-6">
    <button class="btn-green btn-disabled hidden" id="previous-btn">Regresar</button>
    <button class="btn-green btn-disabled" disabled="disabled" id="next-btn">Continuar</button>
    </div>
  </div>
  <script src="/static/js/fileDropArea.js"></script>
  <script src="/static/js/navigate.js"></script>
</body>
</html>
