<!doctype html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/processed_styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creador de portadas</title>
</head>

<body>
  <!-- Flasher -->
  <div id="flash-placeholder">
  </div>

  <!-- Main container -->
  <div id="box" class="flex flex-col items-center justify-center space-y-6 h-screen my-8">

   <div id='preview-box' class="flex flex-col md:flex-row justify-center items-center space-y-6 md:space-x-6 hidden">
    <!-- Image -->
    <div id="crop-box"  class="relative">
      <img id="preview" class="h-60 md:h-80" src="">
    </div>

    <!-- Crop buttons -->
    <div class="flex flex-row md:flex-col h-full space-x-10 md:space-x-0 md:space-y-4 justify-center items-center">
      <img id='uparrow' src="{{ url_for('static', filename='svg/upArrow.svg') }}" class="cursor-pointer h-20 md:h-28">
      <img id='downarrow' src="{{ url_for('static', filename='svg/downArrow.svg') }}" class="cursor-pointer h-20 md:h-28">
    </div>

   </div>

    <!-- Drop area -->
    <div id="drop-area" class="outline-black bg-opacity-10 -z-10">
      <!-- Form -->
      <form id='uploadForm' enctype="multipart/form-data" action="{{ url_for('resize') }}" method="POST" class="flex flex-col items-center space-y-6 form">
        <input id="image" name="image" type="file">
        <button type="submit" id="submit-btn" class="btn-green">Subir</button>
      </form>
    </div>

    <!-- Buttons -->
    <div class="flex flex-row justify-center items-center  space-x-6">
      <button class="btn-green btn-disabled hidden" id="previous-btn">Regresar</button>
      <button class="btn-green btn-disabled hidden" id="next-btn">Continuar</button>
    </div>
  </div>

  <!-- Scripts -->
  <script>
    // Declare here these variables to use Jinja
    imageName = '';
    cropRoute = "{{ url_for('crop') }}";
  </script>
  <script src="/static/js/helpers.js"></script>
  <script src="/static/js/fileDropArea.js"></script>
  <script src="/static/js/navigate.js"></script>
  <script src="/static/js/flashMessage.js"></script>
  <script src="/static/js/visualCutter.js"></script>
  <script src="/static/js/asyncFormSubmit.js"></script>

</body>
</html>
