<!doctype html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/processed_styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creador de portadas</title>
</head>

<body>
  <div class="flex flex-row items-center justify-center full-screen">
    <div id="drop-area" class="outline-black bg-opacity-10 -z-10">
    </div>
    <form action="{{ url_for('loadImage') }}" method="POST" class="form">
      <input id="image" type="file">
    </form>
  </div>
  <script src="/static/js/fileDropArea.js"></script>
</body>
</html>